
     <section class="grid-container full" id="section1">
      <div class="grid-x" id="wrapper">
        <div class="cell small-6 medium-6 large-8" id="aboutText">
          <h2 id="barBlock">Music is a passion of mine.</h2>
          <p>     Here are some of my current favourite songs to share with you.</p>
        </div>
        </div>
    </section>

</section>
{{!-- <section id="section2" class="panel">panel 2</section> --}}
<section id="section3">
    <div class="user-panel-heading">
    <h2>My Current Favourites</h2>
</div>

    <div class="team">
        <!-- loop through all our team members and put their info on the page -->
        <!-- this is exactly like a forEach loop with plain JS -->
        {{#each songs}}
        <div class="user-panel">
            <img class="u-image" src="images/{{ Image }}" alt="image">

            <a class="u-link" href="{{ ID }}">
                See More Info
            </a>

            <h1>{{Song}}</h1>
            <h3>{{Artist}}</h3>
            </div>

        {{/each}}
    </div>
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img src="" alt="larger bio image">
        </div>

        <div class="lb-content">

            

        </div>
    </section>
</section>

